h1{
    font-size: 50px;
    font-family: 'Tahoma';
    color: rgb(34, 145, 132);
}

a{
    text-decoration: none;
    font-family: 'Tahoma';
    font-size: 13px;
    color: rgb(34, 145, 132); 
}
text{
    font-family: 'Tahoma';
    font-size: 13px;
}

button{
    font-family: 'Tahoma';
    font-size: 13px;
    width: 20%;
    border: none;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    background-color: rgb(34, 145, 132);
    color: white;
}

input{
    font-family: 'Tahoma';
    font-size: 13px;
    border: none;
    background-color: white;
    width: 20%;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
}

